.app{
  background: linear-gradient(to bottom, #4c0000, #0A0A0A);
  max-height: 100vh;
  /* font-family: Poppins; */
  color: white;
  overflow: hidden;
}
.page-section{
  width: 60vw;
}
.card-section{
  width: 20vw;
  background: linear-gradient(to bottom, #280c0c, #0F0F0F);
}